
$color-theme: black;

$bg-color: black, white, #ff00ff, #8EF2FF;

$transparent-background: rgba(0, 0, 0, 0.50);
$alternative-background: rgba(0, 0, 0, 0.75);
$transparent-background-list: rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.75);

$background-image-list: url(../../images/neon6.jpg), url(../../images/neon2.jpg), url(../../neon6.jpg);
$bg-img: url(../../images/neon6.jpg);

$font-color: white;
$font-family:'Neuton', serif;

$magenta-logo:#ff00ff;
$turqueza-logo:#8EF2FF;

$font-size-tittles: 2.5rem;




