
textarea {
	resize: none;
}

form.form{
    div.form-group{
        label.form-label{
            font-size: 12px;
	        color: #5e9bfc;
	        margin: 0;
	        display: block;
	        opacity: 1;
	        -webkit-transition: .333s ease top, .333s ease opacity;
	        transition: .333s ease top, .333s ease opacity;
        }
        input.form-control{
            border-radius: 0;
            border-color: #ccc;
            border-width: 0 0 2px 0;
            border-style: none none solid none;
            box-shadow: none;
            background-color: $transparent-background;
            background-blend-mode: saturation;
            &:focus{
                box-shadow: none;
	            border-color: $magenta-logo;
            }

        }
        textarea.form-control{
            border-radius: 0;
            border-color: #ccc;
            border-width: 0 0 2px 0;
            border-style: none none solid none;
            box-shadow: none;
            background-color: first($transparent-background-list);
            background-blend-mode: saturation;

        }

    }
    
}